.container {
  align-items: center;
  background-color: rgb(247, 247, 247);
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

.title {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 32px;
  font-weight: bold;
}

.title::selection {
  color: white;
  background: crimson;
}

.formContainer {
  background-color: rgb(235, 235, 235);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  max-width: 450px;
  padding: 20px;
  width: 100%;
}

.nameInput {
  border: 0px solid transparent;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;
  width: 100%;
}

.nameInput::selection {
  color: white;
  background: crimson;
}

.phoneOrEmailInput {
  border: 0px solid transparent;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 10px;
  padding: 5px;
  width: 100%;
}

.phoneOrEmailInput::selection {
  color: white;
  background: crimson;
}

.messageTextArea {
  border: 0px solid transparent;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 10px;
  height: 175px;
  padding: 5px;
  resize: none;
  width: 100%;
}

.messageTextArea::selection {
  color: white;
  background: crimson;
}

.submitButton {
  align-items: center;
  align-self: flex-end;
  border-radius: 5px;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  margin-top: 20px;
  padding: 10px;
  text-decoration-line: none;
  min-width: 100px;
}

.submitButton:hover {
  opacity: 0.6;
}

.loader {
  border: 4px solid darkgray;
  border-top: 4px solid white;
  border-radius: 50%;
  width: 17.5px;
  height: 17.5px;
  margin-right: 10px;
  animation: spin 0.75s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}