.selfDetails {
  background-color: rgb(247, 247, 247);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 550px;
  height: 100vh;
}

.selfPhoto {
  border: lightgray solid 2px;
  background-color: lightgray;
  border-radius: 50%;
  object-fit: cover;
}

.selfName {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 20px;
}

.selfName::selection {
  color: white;
  background: crimson;
}

.selfTagline {
  color: crimson;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin-top: 20px;
  max-width: 675px;
  text-align: center;
}

.selfTagline::selection {
  color: white;
  background: crimson;
}

.selfDescription {
  color: gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  margin-top: 50px;
  max-width: 675px;
  text-align: center;
}

.selfDescription strong::selection {
  color: white;
  background: crimson;
}

.selfDescription::selection {
  color: white;
  background: crimson;
}